@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/SFProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/SFProHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/SFProLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/SFProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/SFProSemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/SFProUltralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

html, body{
    font-family: 'SF Pro', sans-serif;
    font-weight: normal;
}